h1 {
    text-align: center;
    list-style: 1.5;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400 36px;
    font-style: normal;
}

form {
    padding: 30px;
}

.dance-style {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding: 20px;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: 120px auto;

}

.search {
    padding: 12px;
    border-radius: 10px;
    width: 80%;
}

footer {
    text-align: center;
    margin-top: 30px;
}

a {
    color: blueviolet;
}

.submit {
    padding: 12px;
    border-radius: 10px;
}