body {
   background-image: url("image.png");
   background-repeat: no-repeat;
   background-size: cover;
   font-family: "Edu AU VIC WA NT Hand", cursive;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
}

h1 {
    text-align: center;
    list-style: 1.5;
    font-size: 48px;
}

form {
    padding: 30px;
}

.dance-style {
    font-size: 16px;

}

.container {
    max-width: 800px;
    margin: 120px auto;

}

.search {
    padding: 12px;
    border-color:#87CCBE ;
    border-radius: 10px;
    width: 80%;
}

.health {
    display: none;
}

footer {
    text-align: center;
    margin-top: 30px;
}

a {
    color: blueviolet;
}

.submit {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #87CCBE;
}